.toast {
    display: flex;
    position: fixed;
    width: clamp(200px, 30vw, 600px);
    min-height: 100px;
    bottom: 10px;
    right: 0;
    opacity: 0; 
    animation: ToastAnimation 3s cubic-bezier(0.44, -0.43, 0.59, 1.36) 0.2s forwards;
    color: var(--cwhite);
    padding: 7px;
    z-index: 5;
    pointer-events: none;
    align-items: center;
}

.display {
    display:none;
}

.no-display {
    display:none;
}

.toast [class*="fa-"]{
    font-size: 2rem;
}

.toast > div {
    margin-left: 8px;
}

.toast h1 {
    margin: 0;
    margin-bottom: 2px;
}


.toast.success {
    background-color: #21993f;
    box-shadow: green 0 0 23px;
}
.toast.error {
    background-color: #ff5a5a;
    box-shadow: #5e1919 0 0 23px;
}
.toast.info {
    background-color: #2198c7;
    box-shadow: #48a6ff 0 0 23px;
}

@keyframes ToastAnimation {
    0% {
        transform: translate(200px);
        opacity: 0;
    }
    10% {
        transform: translate(0px);
        opacity: 1;
    }
    80% {
        transform: translate(0px);
        opacity: 1;
    }
    100% {
        transform: translate(200px);
        opacity: 0;
    }
}